.main-page {
    width: 100%;
    padding-top: 10rem;
}

.input-selector-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.input-selector-wrapper input {
    width: 50%;
    height: 2rem;
    border: none;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    background-color: transparent;
}

.input-selector-wrapper input, .select-field select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.input-selector-wrapper .select-field {
    display: flex;
    color: #000;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.select-field select {
    background-color: #7e57c2;
    color: #ede7f6;
    border: none;
    border-radius: 6px;
    padding: .4rem .8rem;
    cursor: pointer;
}

.main-page .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.results .user-container {
    margin: 1rem auto;
    width: 55%;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: #7e57c2;
    border-radius: 1rem;
    -webkit-box-shadow: 9px 7px 29px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 9px 7px 29px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 9px 7px 29px -3px rgba(0, 0, 0, 0.6);

}

.user-container div {
    border: 1px solid #ede7f6;
    margin: auto 2rem;
    padding: 1rem;
    border-radius: 4px;
}

.user-container div p{
    color: #ede7f6;
    font-family: 'Roboto', sans-serif;
    margin: .3rem auto;
}

.user-container img {
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 4px;
}

.main-page .pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination button {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    transition: all .4s;
    color: #7e57c2;
    cursor: pointer;
    border: 1px solid #7e57c2;
}

.pagination svg{
    color: #7e57c2;
    cursor: pointer;
    font-size: 1rem;
}

.pagination svg:hover{
    scale: 1.1;
}

.pagination button:hover {
    background-color: #7e57c2;
    color: #ede7f6;
}

@media screen and (max-width: 885px) {
    .results .user-container{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .results .user-container{
        flex-direction: column;
    }

    .input-selector-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .input-selector-wrapper input{
        width: 70%;
    }
}