.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    background-color: #6200ea;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.navbar h1 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: -10px 0 10px rgba(0, 0, 0);
}

.navbar h1:hover {
    opacity: .9;
    color: #d1c4e9;
}

.navbar .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 55%;
    min-width: 45%;
}

.navbar .links {
    text-decoration: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.navbar .links a {
    text-decoration: none;
    color: #fff;
    transition: all .4s;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.navbar .links a:hover {
    color: #d1c4e9;
    scale: 1.1;
}

.navbar button {
    margin-left: 1rem;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: .2rem .5rem;
    color: #fff;
    background-color: #ff0000;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;
}

.navbar button:hover {
    cursor: pointer;
    scale: 1.1;
    opacity: .9;
    background-color: transparent;
}

.mobile-btn {
    display: none;
    position: fixed;
    top: 1.6rem;
    right: 1rem;
    z-index: 10;
    color: #d1c4e9;
}

@media screen and (max-width: 885px) {
    .mobile-btn {
        display: block;
    }

    .navbar .links-wrapper {
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        width: 50%;
    }

    .links-wrapper.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        height: 100vh;
        max-width: 70vw;
        position: absolute;
        background-color: #6200ea;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        top: 0px;
        right: 0px;
    }

    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links a {
        margin: auto 1rem;
        text-align: center;
    }

    .navbar button{
        margin: 1rem auto;
    }
}